.chat-message-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  max-width: 200px;
  margin: 10px 0;
  height: auto;
  padding-right: 7%;
  padding-left: 7%;
  background-color: #3498db !important;
  color: #ecf0f1 !important;
  font-stretch: expanded;
  border-radius: 6px;
  white-space: pre-line;
}

.chat-message-wrapper-current-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  max-width: 200px;
  margin: 10px 0 10px auto;
  height: auto;
  padding-right: 7%;
  padding-left: 7%;
  background-color: #ecf0f1 !important;
  color: #3498db !important;
  font-stretch: expanded;
  border-radius: 6px;
  vertical-align: initial;
  white-space: pre-line;
}

.chat-message-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  padding: 0px 0px;
  width: 100%;
  min-height: 100px;
  word-wrap: break-word;
  padding-top: 7%;
}

.chat-message-profile-link {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1rem;
  padding-right: 10px;
}

.chat-message-profile-link-current-user {
  text-decoration: none;
  color: #3498db;
  font-size: 1rem;
  padding-right: 10px;
}

.chat-message-profile-link-current-user :hover {
  color: #0b2333;
  font-size: 1.5rem;
}

.chat-message-profile-link :hover {
  color: #524d4d;
  font-size: 1.5rem;
}

.chat-message-avatar-wrapper {
  padding-right: 10px;
}

.chat-message-avatar {
  width: 30px;
  height: 30px;
}

.chat-message-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  word-wrap: break-word;
  max-width: 175px;
  vertical-align: initial;
  outline: none;
}
